<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тарифный план на 2025 год</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <a href="index.html" class="logo">СНТ "Обские просторы"</a>

        <nav class="navbar">
            <ul>
                <!--<li><a href="news.html">Новости</a></li>-->
                <li><a href="announcement.html">Объявления</a></li>
                <li><a href="dibates.html">Голосования</a></li>
                <!--<li><a href="kontact.html">Контакты</a></li>-->
            </ul>
        </nav>
    </header>

    <main class="main">
        <div class="main-content" id="mainContent">
            <nav class="navbar-left">
                <ul class="siderbar-left">
                    <li><a href="verificade.html" class="account">Личный кабинет</a></li>
                    <li><a href="Description_SNT.html" class="we">О нас</a></li>
                    <li><a href="governance.html">Правление</a></li>
                    <!--<li><a href="tariff_plan.html">Тарифный план на 2023 год</a></li>-->
                    <!--<li><a href="kontact.html">Контакты</a></li>-->
                    <li><a href="galery.html">Фотогалерея</a></li>
                    <li><a href="documents.html">Сметы расходов</a></li>
                    <li class="dropdown"><a href="#">Расписание <span>&rsaquo;</span></a>
                        <ul>
                            <li><a class="bus" href="bus.html">Автобусов</a></li>
                            <li><a class="water" href="water.html">Подачи воды</a></li>
                            <li><a class="shop_time" href="shop_time.html">Работы магазина</a></li>
                        </ul>
                    </li>
                    <li><a href="scheme.html">Схема участков</a></li>
                    <li><a href="fire-safety.html">Пожарная безопасность</a></li>
                    <li><a href="map.html" class="map" id="map"> Расположение</a></li>
                </ul>
            </nav>

            <div class="main-info">
                <section>
                    <h2>Тарифный план на 2025 год.</h2>
                    <p>
                        Тут будут тарифы на: членские взносы, свет, воду.
                    </p>
                </section>
            </div>
        </div>
    </main>
    <script src="js/script.js" defer></script>
</body>
</html>